<div class="row g-5">
  <div class="col-md-12">
    <h4 class="mb-3">Product Destination Finder</h4>

    <%= form_with(url: '/search', method: 'get', local: true) do %>
      <label for="product_reference" class="form-label">Product Reference</label>
      <%= text_field_tag(:product_reference, @search.product_reference, required: true) %>

      <%= submit_tag("Search") %>
    <% end %>

    <% if @search[:result].present? %>
      <br>
      <div class="alert alert-success" role="alert">
        Destination: <%= @search[:result].destination %>
      </div>
    <% end %>
  </div>
</div>
