<%= form_with(model: criteria_definition, html: { class: 'needs-validation' }) do |form| %>
  <div class="row g-3">
    <% if criteria_definition.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(criteria_definition.errors.count, "error") %> prohibited this criteria_definition from being saved:</h2>

        <ul>
          <% criteria_definition.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-sm-12">
      <%= form.label :destination %>
      <%= form.text_field :destination, required: true, class: 'form-control' %>
    </div>

    <div class="col-sm-12">
      <%= form.label :references %>
      <%= form.text_field :references, value: criteria_definition.print_references, class: 'form-control' %>
      <small class="fw-lighter">Assign multiple references by separating entries in comma, e.g. `REF1, REF2`</small>
    </div>

    <div class="col-sm-12">
      <%= form.label :categories %>
      <%= form.text_field :categories, value: criteria_definition.print_categories, class: 'form-control' %>
      <small class="fw-lighter">Assign multiple categories by separating entries in comma, e.g. `console, handheld`</small>
    </div>

    <div class="col-sm-12">
      <%= form.label :maximum_price %>
      <%= form.text_field :maximum_price, class: 'form-control' %>
      <small class="fw-lighter">When left empty, it imposes no price limit during matching.</small>
    </div>

    <div class="col-sm-12">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', criteria_definitions_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
