<div class="row g-5">
  <div class="col-md-12">
    <h4 class="mb-3">Criteria Definitions</h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>References</th>
          <th>Categories</th>
          <th>Maximum price</th>
          <th>Destination</th>
          <th style="text-align: right">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @criteria_definitions.each do |criteria_definition| %>
        <% criteria_decorator = decorate(criteria_definition) %>
          <tr>
            <td><%= criteria_decorator.references_badge %></td>
            <td><%= criteria_decorator.categories_badge %></td>
            <td><%= criteria_decorator.maximum_price %></td>
            <td><%= criteria_decorator.destination %></td>
            <td style="text-align: right">
              <%= link_to 'Show', criteria_decorator %> |
              <%= link_to 'Edit', edit_criteria_definition_path(criteria_decorator) %> |
              <%= link_to 'Destroy', criteria_decorator, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Criteria Definition', new_criteria_definition_path, class: 'btn btn-primary' %>
