<table class="table table-bordered">
  <tbody>
  <tr>
    <td><strong>References:</strong></td>
    <td><%= @criteria_definition.references_badge %></td>
  </tr>
  <tr>
    <td><strong>Categories:</strong></td>
    <td><%= @criteria_definition.categories_badge %></td>
  </tr>
  <tr>
    <td><strong>Maximum price:</strong></td>
    <td><%= @criteria_definition.maximum_price %></td>
  </tr>
  <tr>
    <td><strong>Destination:</strong></td>
    <td><%= @criteria_definition.destination %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_criteria_definition_path(@criteria_definition), class: 'btn btn-primary' %>
<%= link_to 'Back', criteria_definitions_path, class: 'btn btn-secondary' %>
