<%= form_with(model: product, html: { class: 'needs-validation' }) do |form| %>
  <div class="row g-3">
    <% if product.errors.any? %>
      <div id="error_explanation" class="col-sm-12">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-sm-12">
      <%= form.label :reference %>
      <%= form.text_field :reference, required: true, class: 'form-control' %>
    </div>

    <div class="col-sm-12">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, class: 'form-control' %>
    </div>

    <div class="col-sm-12">
      <%= form.label :category %>
      <%= form.text_field :category, required: true, class: 'form-control' %>
      <small class="fw-lighter">
        Optional: assign multiple categories by separating entries in comma, e.g. `handheld, console`.
        This results in matching multiple criteria definitions, if any.
      </small>
    </div>

    <div class="col-sm-12">
      <%= form.label :price %>
      <%= form.text_field :price, required: true, class: 'form-control' %>
    </div>

    <div class="col-sm-12">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', products_path, class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
