<div class="row g-5">
  <div class="col-md-12">
    <h4 class="mb-3">Products</h4>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Reference</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th style="text-align: right">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.reference %></td>
            <td><%= product.name %></td>
            <td><%= product.category %></td>
            <td><%= product.price %></td>
            <td style="text-align: right">
              <%= link_to 'Show', product %> |
              <%= link_to 'Edit', edit_product_path(product) %> |
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
