<table class="table table-bordered">
  <tbody>
    <tr>
      <td><strong>Reference:</strong></td>
      <td><%= @product.reference %></td>
    </tr>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <td><strong>Category:</strong></td>
      <td><%= @product.category %></td>
    </tr>
    <tr>
      <td><strong>Price:</strong></td>
      <td><%= @product.price %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %>
<%= link_to 'Back', products_path, class: 'btn btn-secondary' %>
