<!DOCTYPE html>
<html>
  <head>
    <title>BuybayExam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <div class="col-lg-9 mx-auto p-3 py-md-5">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <%= link_to "BuyBay", root_path %>

          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <%= link_to "Product Destination Finder", search_path, class: 'me-4 py-2 text-dark text-decoration-none' %>
            <%= link_to "Products", products_path, class: 'me-4 py-2 text-dark text-decoration-none' %>
            <%= link_to "Criteria Definitions", criteria_definitions_path, class: 'me-4 py-2 text-dark text-decoration-none' %>
          </nav>
        </div>
      </header>

      <main>
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: 'alert alert-info') %>
        <% end %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
